
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error</title>
</head>
<body>
    <div> 
        <h1> ¡Oh, no! Ha ocurrido un error :c</h1>
    </div>
    <script>
        setTimeout("location.href='/Prestamos_Cliente/prestamosQuery'", 2000);
    </script>
</body>
</html>
