.container {
    font-family: Roboto;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container form input {
    display: block;
}

.container form input[type="text"] {
    border: none;
    background-color: rgba(228, 228, 241, 0.731);
    height: 1.5rem;
    width: 7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    padding-left: 14px;
    position: relative;
    left: 10.5rem;
}

input[type="submit"] {
    font-size: 12px;
    border: none;
    background-color: rgb(16, 6, 95);
    color: white;
    height: 1.8rem;
    width: 8rem;
    position: relative;
    left: 10.5rem;
    border-radius: 2rem;
}

input[type="submit"]:hover {
    background-color: rgb(51, 47, 47);
    cursor: pointer;
}

.container p {
    color: rgb(92, 92, 167);
}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    .container {
        margin-top: 7rem;
    }

    .container h2 {
        font-size: 22px;
    }

    .container h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .container p {
        font-size: 16px;
    }

    .container form input[type="text"] {
        width: 22.5rem;
        font-size: 16px;
        position: relative;
        left: 2rem;
    }

    input[type="submit"] {
        font-size: 14px;
        position: relative;
        left: 9.5rem;
    }
}
